.idea
.claude
.cursor
.githooks
.github
.junie
.env
.editorconfig
.gitattributes
.gitignore
.mcp.json
.phpstorm.meta.php
.prettierignore
.prettierrc
_ide_helper.php
boost.json
CLAUDE.md
components.json
eslint.config.js
phpstan.neon
phpunit.xml
pint.json
README.md
rector.php
docs
helm
