apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
type: Opaque
stringData:
  APP_KEY: {{
    .Values.app.key
    | default (include "app.getOrCreateAppKey" (list . (include "app.fullname" .)))
    | quote
  }}

  DB_PASSWORD: {{
    .Values.mysql.auth.password
    | default (include "app.getOrCreateSecret" (list . (include "app.fullname" .) "DB_PASSWORD" 32))
    | quote
  }}

  REDIS_USERNAME: {{ .Values.redis.auth.username | default "" | quote }}
  REDIS_PASSWORD: {{
    .Values.redis.auth.password
    | default (include "app.getOrCreateSecret" (list . (include "app.fullname" .) "REDIS_PASSWORD" 32))
    | quote
  }}

  MAIL_USERNAME: {{ .Values.laravel.mail.username | default "" | quote }}
  MAIL_PASSWORD: {{ .Values.laravel.mail.password | default "" | quote }}
