@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Marketplace/**/*';
@source '../../../../resources/views/filament/marketplace/**/*';
@source '../../../../resources/views/filament/**/*';
