# Staging environment overrides
environment: staging

app:
  debug: true
  url: "https://staging.laravel-community.com"
  env: staging

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: staging.laravel-community.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: staging-laravel-community-tls
      hosts:
        - staging.laravel-community.com

web:
  replicaCount: 1

  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3

horizon:
  replicaCount: 1

  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3

mysql:
  persistence:
    size: 25Gi

  resources:
    limits:
      cpu: 1000m
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 2Gi

redis:
  persistence:
    size: 5Gi

  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
