name: Run Test Suite

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop

jobs:
  test-application:
    name: Run Tests
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip tests]') }}

    env:
      DB_CONNECTION: mysql
      DB_HOST: 127.0.0.1
      DB_PORT: 3306
      DB_DATABASE: testing
      DB_USERNAME: root
      DB_PASSWORD: password

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: ${{ env.DB_PASSWORD }}
          MYSQL_DATABASE: ${{ env.DB_DATABASE }}
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install Javascript Dependencies
        run: npm ci

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, pdo_mysql, bcmath, gd, intl
          ini-values: error_reporting=E_ALL
          tools: composer
          coverage: pcov
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"

      - name: Composer Cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install PHP Dependencies
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Build Project
        run: npm run build

      - name: Prepare Environment
        run: |
          cp .env.example .env
          php artisan key:generate
          php artisan passport:keys

      - name: Run Database Migrations
        run: php artisan migrate --force

      - name: Run Test Suite
        run: php artisan test --parallel --coverage

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Laravel Logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: laravel-logs
          path: storage/logs/
          retention-days: 5
